@use '../utils' as *;

[data-aos='move-left'] {
  opacity: 0;
  transform: translate(100%, -50%);
  transition-property: transform, opacity;

  @include max(md) {
    transform: translate(100%, 0);
  }

  &.aos-animate {
    opacity: 1;
    transform: translate(0, -50%);

    @include max(md) {
      transform: translate(0, 0);
    }
  }
}
