@use '../../utils' as *;

#content.content {
  padding-left: 3rem !important;
}

main.content,
#content.content {
  width: 100%;
  margin-top: 1rem;
  padding: 2rem;

  @include max(sm) {
    padding: 1.5rem 1rem;
  }

  & > * + * {
    margin-top: 0.75rem;
  }

  & > * {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(53, 73, 94, 0.75);
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.5rem;
    color: #35495e;

    @include max(sm) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 2.2rem;
    color: #35495e;

    @include max(sm) {
      font-size: 1.7rem;
    }
  }

  h4 {
    font-size: 1.9rem;
    color: #35495e;

    @include max(sm) {
      font-size: 1.4rem;
    }
  }

  h5 {
    font-size: 1.6rem;

    @include max(sm) {
      font-size: 1.3rem;
    }
  }

  p {
    line-height: 1.5rem;
    font-size: 1.1rem;

    text-align: justify;
  }

  ul,
  ol {
    margin-left: 2rem;
  }

  li + li {
    margin-top: 0.4em;
  }

  table {
    tr {
      td,
      th {
        padding: 0.6em 0.4em;
      }
    }
  }

  img {
    width: 100%;
  }

  a {
    color: var(--clr-orange-400);
    text-decoration: underline;
    transition: color 180ms ease-in;

    &:hover {
      color: var(--clr-orange-500);
    }
  }
}
