@use '../../utils' as *;

main.content {
  margin-top: 1rem;
  padding: 2rem;

  @include max(sm) {
    padding: 1.5rem 1rem;
  }

  & > * + * {
    margin-top: 0.75rem;
  }

  & > * {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(53, 73, 94, 0.75);
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.5rem;
    color: #35495e;

    @include max(sm) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 2.2rem;
    color: #35495e;

    @include max(sm) {
      font-size: 1.7rem;
    }
  }

  p {
    line-height: 1.5rem;
    font-size: 1.1rem;

    text-align: justify;
  }

  ul,
  ol {
    margin-left: 2rem;
  }
}
